.resumeP{
    color: ghostwhite;
    position: absolute;
    top: 60%;
    left: 41%;
}

.resume{
    position: absolute;
    top: 65%;
    left: 45%;
}

.mePhoto{
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    left: 43%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}
.hello{
    color: ghostwhite;
    text-align: center;
}
.brandStatment{
    color: ghostwhite;
    text-align: center;
}
.expBtn{
    position: absolute;
    left: 45%;
    top: 50%;
}
.skills{
    color: ghostwhite;
    text-align: center;
}