.getInTouch{
    color: ghostwhite;
    text-align: center;
}
.letsTalk{
    color: ghostwhite;
    text-align: center;
}
.socials {
    color: ghostwhite;
    text-align: center;
}
.linkden {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.github {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}