.funFact{
    text-align: center;
    color: ghostwhite;
}
.portfolioPg{
    color: ghostwhite;
    text-align: center;
}
.portfolioExpl{
    color: ghostwhite;
    text-align: center;
}
img{
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    left: 10%;
    top: 0;
    right: 0;
    bottom: 0;
}
.p1{
    position: relative;
    left: 17%;
}
.p2{
    position: relative;
    left: 31%;
}
.p3{
    position: relative;
    left: 43%;
}
.project1 {
    width: 500px;
    height: 500px;
}
.groupProject{
    width: 500px;
    height: 500px;
}
.capstone{
    width: 500px;
    height: 500px;
}
.p1About{
    position: absolute;
    left: 15%;
    top: 77%;
}
.p1Info{
    color: ghostwhite;
}
.tutorial{
    text-align: center;
}
.rules{
    text-align: center;
}
.p2About{
    position: absolute;
    left: 49%;
    top: 77%;
}
.p2Info{
    color: ghostwhite;
}
.tumbleAbout{
    text-align: center;
}

.p3About{
    position: absolute;
    left: 72%;
    top: 77%;
}
.p3Info{
    color: ghostwhite;
}