@import url('https://fonts.cdnfonts.com/css/league-spartan');

/* global vars */
* {
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: #525252;
}

a{
    color: ghostwhite;
}
a:hover {
    color: blue;
}

/* .navBarContainer {
    position: absolute;
    left: 10%;
} */


/* popup for navbar */
.popup-content{
    margin: auto;
    background: transparent;
    width: 50%;
    padding: 5px;
}
.popup-arrow{
    color: red;
}
[role='tooltip'].popup-content{
    width: auto;
    height: auto;
    box-shadow: rgba(0,0,0,0.16) 0px 0px 3px;
}
.popup-overlay{
    background: transparent;
}
[data-popup='tooltip'].popup-overlay{
    background: transparent;
}







/* about page */





/* contact page */
.get-in-touch{
    color: ghostwhite;
}
.lets-talk{
    color: ghostwhite;
}
.socials {
    color: ghostwhite;
}
.linkden {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.github {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}





/* projects page */
.portfolio-pg{
    color: ghostwhite;
    text-align: center;
}
.portfolio-expl{
    color: ghostwhite;
    text-align: center;
}

/* .projects-pics{
    flex-wrap: wrap;
} */
img{
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    left: 10%;
    top: 0;
    right: 0;
    bottom: 0;
}

.p1{
    position: relative;
    left: 17%;
}
.p2{
    position: relative;
    left: 31%;
}
.p3{
    position: relative;
    left: 45%;
}


/* a{
    margin-right: 10px;
    padding: 10px;
} */

.project1 {
    width: 500px;
    height: 500px;
}
.groupProject{
    width: 500px;
    height: 500px;
}
.capstone{
    width: 500px;
    height: 500px;
}

