@import url('https://fonts.cdnfonts.com/css/league-spartan');
* {
    font-family: 'League Spartan', sans-serif;
}


/* about page */





/* contact page */
.linkden {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.github {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* projects page */
.project1 {
    width: 500px;
    height: 500px;
}