@import url('https://fonts.cdnfonts.com/css/nintendo-switch-ui');
/* @import url('https://fonts.cdnfonts.com/css/press-start-2p'); */


/* global vars */
* {
    font-family: 'Nintendo Switch UI', sans-serif;
    /* font-family: 'Press Start 2P', sans-serif; */
}

body {
    background-color: #363131;
}

a{
    color: ghostwhite;
}
a:hover {
    color: blue;
}


/* popup for navbar */
.popup-content{
    margin: auto;
    /* background: transparent; */
    background: #363131;
    width: 50%;
    padding: 5px;
}
.popup-arrow{
    color: red;
}
[role='tooltip'].popup-content{
    width: auto;
    height: auto;
    box-shadow: rgba(0,0,0,0.16) 0px 0px 3px;
}
.popup-overlay{
    background: transparent;
}
[data-popup='tooltip'].popup-overlay{
    background: transparent;
}



/* about page */
.me-photo{
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    left: 43%;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}
.hello{
    color: ghostwhite;
    text-align: center;
}
.brand-statment{
    color: ghostwhite;
    text-align: center;
}
.exp-btn{
    position: absolute;
    left: 45%;
    top: 50%;
}
.skills{
    color: ghostwhite;
    text-align: center;
}




/* contact page */
.get-in-touch{
    color: ghostwhite;
    text-align: center;
}
.lets-talk{
    color: ghostwhite;
    text-align: center;
}
.socials {
    color: ghostwhite;
    text-align: center;
}
.linkden {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.github {
    background-color: #f44336;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}





/* projects page */
.fun-fact{
    text-align: center;
    color: ghostwhite;
}
.portfolio-pg{
    color: ghostwhite;
    text-align: center;
}
.portfolio-expl{
    color: ghostwhite;
    text-align: center;
}
img{
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    left: 10%;
    top: 0;
    right: 0;
    bottom: 0;
}
.p1{
    position: relative;
    left: 17%;
}
.p2{
    position: relative;
    left: 31%;
}
.p3{
    position: relative;
    left: 43%;
}
.project1 {
    width: 500px;
    height: 500px;
}
.groupProject{
    width: 500px;
    height: 500px;
}
.capstone{
    width: 500px;
    height: 500px;
}
.p1-about{
    position: absolute;
    left: 15%;
    top: 77%;
}
.p1-info{
    color: ghostwhite;
}
.tutorial{
    text-align: center;
}
.rules{
    text-align: center;
}
.p2-about{
    position: absolute;
    left: 49%;
    top: 77%;
}
.p2-info{
    color: ghostwhite;
}
.tumble-about{
    text-align: center;
}

.p3-about{
    position: absolute;
    left: 72%;
    top: 77%;
}
.p3-info{
    color: ghostwhite;
}

